body{
  background-color: #ffffff;
}

  hr{
    background-color: inherit;
    border-style: none;
    border-top-style: dotted;
     border-color: grey;
     border-width: 5px;
     width: 5%;
  }
  h1{
    text-align: center;
    color: turquoise;
    }
  h2{
    text-align: center;
    color: turquoise;
    }
a{
  color: turquoise;
  }
h3{
  text-align: left ;
  text-align: center;
}
